h1{
    color:rgb(29, 71, 150);
    text-align: center;
}
p{
    background-color:darkkhaki;
}
h2{
    background-color: darkkhaki;
}
h3{
    background-color: darkkhaki;
}
body{
    margin: 20px;
    border: 10px;
    border-color: black;
    border-style: solid;
}
.card{
    width:500px;
    background-color: darkkhaki;
    text-align: center;
}
#dish-name{
    color:white;
}